*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}
li{ list-style: none;}
h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,225,0.3), rgba(0,168,225,0.3)), url('ll.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 85%, 0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: 0.1;
    z-index: -1;
}
.nav-item a{
    color: white!important;
    font-weight: bold;
}
.navbar-brand{
    color: white!important;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    color: aqua;
    text-align: center;
    position: relative;
}
.cenetr-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-button a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4.4;
    text-align: center;
}
.header-button a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div{
    font-size: 1.3rem;
    padding: 170px 0px 60px 10px;
    color: aliceblue;
}

 /* ******************three css start**************  */
.header-extradiv{
    width: 100%;  height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
    background: #fff;
    border: medium none;
    padding: 30px!important;
    border-radius: 3px;
    transition: 0.3s;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

/* ******************three css end**************  */

    /* *********************service offer css start********************** */
   
.row-ab{
    padding: 30px 30px 60px 650px;
    margin-top: -360px;
}
.jjk{
    padding: 10px 0px 30px 70px;
    margin-top: -50px;
}
.jjk-p{
    padding: 10px 50px 30px 70px;
    margin-top: -50px;
}
.row-i{
    padding: 0px 20px 20px 0px;
}
.serviceoffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
    height: 105vh;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.6rem!important;
    /* margin-bottom: 25px!important; */
}
i{
    color: #2fccd0;
}
/* *********************service offer css ends********************** */

/* *********************awards offer css start********************** */

.project-work{
    margin: 100px 0;
    margin-block-end: 400px;
    max-height: 20vh;
}
.project-works h1{
    font-size: 2rem;
    text-align: center;
}
/* *********************service offer css ends********************** */

/* *********************see offer css ends********************** */
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}
.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;

}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 9!important;
}
.card-body{
    padding: 30px 0px !important;
}
.card-body li{
    margin: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.card-second{
    transform: translateY(-20px);
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
}
/* *********************see offer css ends********************** */
   /* ***********************customer feed back start ************************* */

.happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 50px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}
.box:hover p{
    color: whitesmoke;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators li{
    background-color: #16c9f6!important;
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.box a:after{
    content: "\f1od";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box h1{
    font-size: 18px;
    font-size: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}

   /* /* ***********************customer feed back end *************************  */



   /* <!-- ************************contact feedback start************&&&&&&& --> */



.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
     right: 0%;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
}
.form-button button{
    background: transparent;
}
    /* <!-- *********************** contact feedback end************ --> */

                      /******************* newsletter start  *************************/
.newsletterasd{
    width: 100%; 
    height: auto;
    margin: 80px auto; 
}
.pikka-asd{
    border-radius: 100px 30px 30px 100px; 
    padding-bottom: 20px;
   margin-bottom: 20px;
}
.input-group-text{
    border: 1px solid black;
    /* border-radius: 100px; */
    /* margin: 0 5px; */
    /* padding: 12px 35px; */
    /* outline: none; */
    color: rgb(0, 92, 123);
    font-size: 1rem;
    /* font-weight: 400; */
    /* line-height: 1.9; */
    /* text-align: center; */
}
.input-group-text a:hover{
    color: rgb(20, 81, 101);
    background: rgb(0, 50, 65);
    /* text-decoration: none; */
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
}


/* *********************************footer start******************************************** */
.footersection{
    width: 100%;
    height:auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;

}
.footersection p{
    color: #fff;

}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
#myBtn{
     display: none; 
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
    }